body {
  margin: 0;
  font-family: monospace;
  background-color: #f4f4f4;
}

header {
  background-color: #0a0f27;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 10px;
  padding: 10px;
}

.box {
  border: 1px solid #aaa;
  background-color: white;
  padding: 5px;
}

.circle-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d3d3d3;
  border: 2px solid #00a6a6;
  position: relative;
}

.arrow {
  width: 2px;
  height: 60px;
  background-color: #00a6a6;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #00a6a6;
}